.git
.gitignore
.env
.env.backup
.env.production
node_modules
frontend
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.idea
.vscode
.fleet
*.md
tests
phpunit.xml
Homestead.json
Homestead.yaml
